{% extends "base.html" %}
{% block page_content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-title">
                    <span class="caption d-block small"> Author </span>
                    <h2>{% block head_title %} {{ category }} {% endblock %}</h2>
                </div>
                <div class="container bootstrap snippets bootdey mb-4">
                    <div class="col-md-12">
                        <div class="profile-container">
                            <div class="profile-header row">
                                <div class="col-md-4 col-sm-12 text-center">
                                    <img src="{{author.profile.cover_image.url}}" alt="" class="header-avatar">
                                </div>
                                <div class="col-md-8 col-sm-12 profile-info pl-2">
                                    Name: <div class="header-fullname">{{author.get_full_name}}</div>
                                    <!-- <a href="#" class="btn btn-palegreen btn-sm  btn-follow">
                                        <i class="fa fa-check"></i>
                                        Following
                                    </a> -->
                                    <div class="header-information">
                                        Bio: <strong>{{author.profile.bio}}</strong>
                                    </div>
                                    {% if author.profile.visibility %}
                                    {% if author.profile.linkedin %}
                                    <a href="{{ author.profile.linkedin }}"><span
                                            class="mx-1 icon-linkedin-square"></span></a>
                                    {% endif %}
                                    {% if author.profile.twitter %}
                                    <a href="{{ author.profile.twitter }}"><span
                                            class="mx-1 icon-twitter"></span></a>
                                    {% endif %}
                                    {% if author.profile.github %}
                                    <a href="{{ author.profile.github }}"><span
                                            class="mx-1 icon-github-square"></span></a>
                                    {% endif %}
                                    {% if author.profile.whatsapp %}
                                    <a href="{{ author.profile.whatsapp }}"><span
                                            class="mx-1 icon-whatsapp"></span></a>
                                    {% endif %}
                                    {% endif %}
                                    <span class="icon-map-marker"></span>
                                    <strong>{{ author.profile.get_location_display }}</strong>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for post in posts %}
                <div class="post-entry-2 d-flex">
                    <div class="thumbnail order-md-2" style="background-image: url('{{ post.cover_image.url }}')">
                    </div>
                    <div class="contents order-md-1 pl-2">
                        <h2><a href="{% url 'blog:blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                        <p class="mb-3">{{ post.body | truncatechars_html:120  | safe }}</p>
                        <div class="post-meta">
                            <span class="d-block">
                                <a href="{% url 'blog:blog_author' post.author %}">{{ post.author.get_full_name }} {{ post.author.first_name }}</a> 
                                in
                                {% for category in post.categories.all %}
                                <a href="{% url 'blog:blog_category' category.name %}">{{ category.name }}</a>
                                {% endfor %}
                            </span>
                            <span class="date-read">{{ post.created_on.date }} <span class="mx-1">&bullet;</span> {{ post.read_duration }} min
                                read 
                                {% if post.favorite %}
                                <span class="icon-star2"></span>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-3">
                {% if popular_post %}
                <div class="section-title">
                    <h2>Popular Posts</h2>
                </div>
                {% endif %}
                {% for Popular in popular_post %}
                <div class="trend-entry d-flex">
                    <div class="number align-self-start">0{{forloop.counter}}</div>
                    <div class="trend-contents">
                        <h2><a href="{% url 'blog:blog_detail' slug=Popular.slug %}">{{ Popular.title}}</a></h2>
                        <div class="post-meta">
                            <span class="d-block">
                                <a href="{% url 'blog:blog_author' Popular.author %}">{{ Popular.author.last_name }}
                                    {{ Popular.author.first_name }}</a>
                                in
                                {% for category in Popular.categories.all %}
                                <a href="{% url 'blog:blog_category' category.name %}">{{ category.name }}</a>
                                {% endfor %}
                            </span>
                                <span class="date-read">{{ Popular.created_on.date }} <span class="mx-1">&bullet;</span>
                                {{ Popular.read_duration }} min read
                                {% if Popular.favorite %}
                                <span class="icon-star2"></span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <p>
                    <a href="{% url 'blog:popular_views' %}" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                {% if posts.has_other_pages %}
                <ul class="custom-pagination list-unstyled">
                    {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}