{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" href="{% static 'css/style_two.css' %}">

<!-- <div class="col-md-8 offset-md-2"> -->
    <h1>
        {% block head_title %} Blog Index {% endblock %}
    </h1>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
        {% if user.is_authenticated %} 
        <a href="{% url 'edit_blog' slug=post.slug   %}" onclick=""><span class="btn btn-sm btn-success">Edit</span></a>
        {% endif %}
    </small>
    <p>{{ post.body | slice:":400" | safe }}</p>
    {% endfor %}
<!-- </div> -->
{% endblock %}

{% block javascript %}
<script>
    {% if messages %}
    {% for message in messages %}
    var tag_alert = '{{ message.tags }}';
    if (tag_alert == 'alert-success') {
        tag_alert = 'success';
    }
    if (tag_alert == 'alert-danger') {
        tag_alert = 'error';
    }
    Swal.fire({
        position: 'top-end',
        icon: tag_alert,
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 1500
    })
    {% endfor %}
    {% endif %}
</script>
{% endblock javascript %}